<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Modules</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>ViewController5</string>
			<key>parameters</key>
			<array>
				<string>temp</string>
				<string>test</string>
				<string>url</string>
			</array>
			<key>storyboard</key>
			<string>Main</string>
			<key>type</key>
			<string>ViewController5</string>
			<key>name</key>
			<string>vc5.md</string>
		</dict>
		<dict>
			<key>parameters</key>
			<array>
				<string>value</string>
				<string>test</string>
			</array>
			<key>identifier</key>
			<string>ViewController4</string>
			<key>storyboard</key>
			<string>Main</string>
			<key>type</key>
			<string>ViewController4</string>
			<key>name</key>
			<string>vc4.md</string>
		</dict>
		<dict>
			<key>parameters</key>
			<array>
				<string>url</string>
				<string>test</string>
				<string>temp</string>
			</array>
			<key>identifier</key>
			<string>ViewController3</string>
			<key>storyboard</key>
			<string>Main</string>
			<key>type</key>
			<string>ViewController3</string>
			<key>name</key>
			<string>vc3.md</string>
		</dict>
	</array>
</dict>
</plist>
